{
  "plugins": ["prettier"],
  "extends": ["react-app", "react-app/jest"],
  "overrides": [
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}
