$primaryColor: #0052DF;
$primaryLight: #2E75EF;
$primarySuperLight: #EAF5FF;
$primaryAlmostWhite: #F3F6F9;
$white: #FFFFFF;
$primaryAlmostBlack: #101724;
$primarySuperDark: #161E31;
$darkGrey: #687997;
$mediumGrey: #8898B3;
