$primaryColor: #0052df;
$primaryLight: #2e75ef;
$primarySuperLight: #eaf5ff;
$primaryAlmostWhite: #f3f6f9;
$white: #ffffff;
$primaryAlmostBlack: #101724;
$primarySuperDark: #161e31;
$darkGrey: #687997;
$mediumGrey: #8898b3;
