.wrapper {
  background-color: #1ea7fd;
}

.header {
  padding: 24px;
}

.contentInner {
  padding: 12px;
}

.contentOuter {
  background-color: #61dafb;
}

.headerIconButton {
  background-color: teal;
}
