.wrapper {
  user-select: none;
  position: relative;
  display: inline-block;

  & > span {
    display: flex;
    align-items: center;
  }
}

.value_placeholder {
  color: rgba(0, 0, 0, .52)
}

.item_list {
  background-color: #fff;
  box-shadow: 0 0 17px -2px rgba(0,0,0,0.71);
  display: none;
  left: 0;
  list-style: none;
  margin: 0;
  max-height: 80vh;
  overflow: auto;
  padding: 6px 0;
  position: absolute;
  top: 0;
  //top: 50%;
  //transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}

.wrapper__open .item_list {
  display: block;
}

.item_list_item {
  padding: 12px;
  margin: 0;
  text-align: left;

  &__placeholder {
    color: rgba(0, 0, 0, .52)
  }

  &:hover {
    background-color: rgba(100, 100, 100, .1);
  }

  &__selected {
    background-color: rgba(100, 100, 100, .3);
  }
}
