@use "src/styles/variables" as variables;

/**
 * Main wrapper.
 * Defines the global shape and colors.
 */
.wrapper {
  border: 0;
  padding: 12px 32px;
  border-radius: 8px;

  &:hover, &:active {
    background-color: variables.$primaryAlmostWhite;
  }

  &:focus {
    box-shadow: 0 0 0 3px variables.$primarySuperLight;
  }

  &:focus-visible {
    outline: none;
  }
}

/**
 * Primary variant.
 * It's blue, with white text color.
 */
.wrapper__primary {
  background-color: variables.$primaryColor;
  color: variables.$primarySuperLight;

  &:hover {
    background-color: variables.$primaryLight;
  }
}

/**
 * Primary variant, with light tint.
 * It's white, with blue text and border color.
 */
.wrapper__primary__light {
  background-color: variables.$white;
  color: variables.$primaryLight;
  border: 0;

  &:hover, &:active {
    background-color: variables.$primaryAlmostWhite;
  }
}

/**
 * Secondary variant.
 * It's white, with blue border and text color.
 */
.wrapper__secondary {
  border: 1px solid variables.$primaryColor;
  background-color: variables.$white;
  color: variables.$primaryLight;
}
