.top {
  max-width: 400px;
  align-items: center;
  margin: 12px auto;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
  color: var(--secondary-color);

  .center {
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }
}
