$border: 1px solid rgb(224, 224, 224);

.header {
  display: flex;
  border-bottom: $border;
}

.content {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  flex: 1;
  display: flex;
  align-items: center;
}

.content .row:not(:last-child) {
  border-bottom: $border;
}
