.wrapper {
  border-radius: 16px;
}

.header {
  padding: 16px;
}

.closeIconButton {
  padding: 8px;
  background-color: #000066;
}

.closeIcon {
  color: #fff;
}

.content {
  padding-top: 0;

  p {
    margin: 0;
    padding: 0;
  }
}
